@charset "utf-8";
/* CSS Document */

/*===== Section =====*/
section .banner {position: relative; left:0; top:0; width:100%; height:570px; background:url(../imgs/fhd_ban.jpg) no-repeat center center; }
.banner h3{
	position:absolute; left:50%; top:320px; width:35%; height:100px;  
	margin-left:-17.50%; font-size:60px ; z-index: 1; background:#F00 ;
}
.banner h3 span{color:#FFF;  }
